.content-box{
    padding-top: 70px;
}

.project-box{
    padding-top: 140px;
}

.bg-gray{
    background-color: #2b2c2e; !important;
}

.inSprint{
    background: lightskyblue; !important;
}

.project_card{
    box-shadow: 0px 0px 8px rgba(0,0,0,.9) !important;
    transition: 0.3s;
    background-color: whitesmoke;
    margin-bottom: 30px;

}

.project_card:hover{
    box-shadow: 0px 4px 16px rgba(0,0,0,.9) !important;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}


